<div class="relative flex flex-col w-full h-full">

    <!-- Dismiss button -->
    <ng-container *ngIf="data.dismissible">
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button
                mat-icon-button
                [matDialogClose]="undefined">
                <mat-icon
                    class="text-secondary"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </ng-container>

    <!-- Content -->
    
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-8 pb-6 sm:pb-8">
                

        <ng-container *ngIf="data.title || data.message">
            <div class="flex flex-col items-center sm:items-start mt-4 sm:mt-0 sm:pr-8 space-y-1 text-center sm:text-left">

                <!-- Title -->
                <ng-container *ngIf="data.title">
                    <div
                        class="text-xl leading-6 font-medium"
                        [innerHTML]="data.title"></div>
                </ng-container>

                <!-- Message -->
                <ng-container *ngIf="data.message">
                    <div
                        class="text-secondary"
                        [innerHTML]="data.message">Are you sure you want to remove this driver? data.name</div>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-1 pl-8 sm:pl-8">
        <ng-container *ngIf="data['id']">
            <label> ID del pago: <span>{{ data.id }}</span></label>
        </ng-container>
    </div>

    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-1 pl-8 sm:pb-1">
        <ng-container *ngIf="data['id']">                        
            <div class="flex flex-col items-center sm:items-start sm:mt-0 sm:pr-4  text-center sm:text-left">                
                <mat-card class="example-card">
                    <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="flex flex-col items-center sm:items-start sm:mt-0 sm:pr-4  text-center sm:text-left">                
                <mat-card class="example-card">
                    <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Small</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                    {{longText}}
                    </mat-card-content>
                </mat-card>
            </div>
                
        </ng-container>
    </div>
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-1 pl-8 sm:pl-8">
        <ng-container *ngIf="data['servicio']">
            <label> ID del servicio: <span>{{ data.servicio }}</span></label>
        </ng-container>
    </div>
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-1 pl-8 sm:pl-8">
        <ng-container *ngIf="data['total']">
            <label> Total: <span>{{ data.total | currency:'':'$':'1.0' }}</span></label>
        </ng-container>
    </div>
    <div class="flex flex-col sm:flex-row flex-auto items-center sm:items-start p-1 pl-8 sm:pl-8">
        <ng-container *ngIf="data['servicio']">
            <div class="cards">
                <div class="card">
                    <div class="info">
                        <div class="type">
                            <!-- <h1>Movimientos</h1> -->
                            <div
                                class="text-xl leading-6 font-medium">
                                Movimientos
                            </div>
                            
                            <!-- <p>{{ item.type }}</p> -->
                            <!-- <p *ngIf="item.expiry_date" class="expiracion"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>  {{ item.expiry_date | date }}</p> -->
                            
                        </div>
                        <div class="movimiento">
                            <p>Fecha de transaccion</p>
                            <p>{{ data.fecha }}</p>
                            <!-- <img src="{{ item.files[0] }}" (click)="verimagen(item, 1)">
                            <img src="{{ item.files[1] }}" (click)="verimagen(item, 2)"> -->
                        </div>
                    </div>
                </div>
             </div>
        </ng-container>
    </div>

    <!-- Actions -->
    <ng-container *ngIf="data.actions.confirm.show || data.actions.cancel.show">
        <div class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">

            <!-- Cancel -->
            <ng-container *ngIf="data.actions.cancel.show">
                <button
                    mat-stroked-button
                    [matDialogClose]="'cancelled'">
                    {{data.actions.cancel.label}}
                </button>
            </ng-container>

            <!-- Confirm -->
            <ng-container *ngIf="data.actions.confirm.show">
                <button
                    mat-flat-button
                    [color]="data.actions.confirm.color"
                    [matDialogClose]="'confirmed'">
                    {{data.actions.confirm.label}}
                </button>
            </ng-container>

        </div>
    </ng-container>

</div>
