 <div class="flex flex-col flex-auto min-w-0">    
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <!-- <div class="border-2 border-dashed border-gray-300 rounded-2xl">
           Lista conductores
        </div> -->
        <div class="mat-elevation-z8">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>
            <table mat-table
       [dataSource]="dataSource" multiTemplateDataRows       
       class="mat-elevation-z8">
       
  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns; let i = index" >
    <th mat-header-cell *matHeaderCellDef > {{ column  }} </th>    
    <td mat-cell *matCellDef="let element" (click)="agregarDatosFormularioEditar(element.no-1)"> {{ (i != 6) ? element[column] : ''}} 
        <span *ngIf="i==6" class="mat-button-wrapper ">
            <mat-icon 
                class="animacion"                                   
                [ngClass]="{'avalible': !element.avalible, 'noavalible': element.avalible}"                                
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="circle">
            </mat-icon>                                
        </span> 
    </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); agregarDatosFormularioEditar(element.no-1)">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length"> 
        <div class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <mat-tab-group mat-align-tabs="end" (selectedTabChange)="getHistoryServices(element.id)">
                <mat-tab label="Personal Dates" >  
                    <mat-grid-list cols="4" rowHeight="50vh">
                        <mat-grid-tile [colspan]="3">
                            <form class="example-form" [formGroup]="formPersonal">
                                <section >                                    
                                    <div class="example-button-row">                                                      
                                        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" (click)="deleteDriver(element)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon"                                      
                                        (click)="editButton()"
                                        >
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="#0bb500" aria-label="Example icon button with a filter list icon"
                                            *ngIf="disablebutton==false" (click)="confirmEditButton(); updateDrivers(element.id)"
                                        >
                                            <mat-icon>done</mat-icon>
                                        </button>                                                        
                                    </div>                
                                </section>         
                                <table class="example-full-width" cellspacing="0"><tr>
                                    <td><mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>First name</mat-label>
                                        <input matInput formControlName="names" (change)="changeform=true">
                                    </mat-form-field></td>
                                    <td><mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput  formControlName="last_names" (change)="changeform=true">
                                    </mat-form-field></td>
                                </tr></table>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>phone</mat-label>
                                    <input matInput  formControlName="phone" (change)="changeform=true">
                                </mat-form-field>
                                <table class="example-full-width" cellspacing="0"><tr>
                                    <td><mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>emergency phone 1</mat-label>
                                        <input matInput formControlName="emg_phone1" (change)="changeform=true">
                                    </mat-form-field></td>
                                    <td><mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>emergency phone 2</mat-label>
                                        <input matInput formControlName="emg_phone2" (change)="changeform=true">
                                    </mat-form-field></td>
                                    </tr></table>  
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" (change)="changeform=true">
                                </mat-form-field>
                            </form>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1">
                            <img src="{{ dataDrivers[element.no-1]['profile_info']['photo_url'] }}"
                            class="imgProfileDriver">
                        </mat-grid-tile>
                    </mat-grid-list>                                             
                </mat-tab>

                <mat-tab label="Vehicle Info">                            
                    <form class="example-form"> 
                            <div class="photovehicle">
                                <div class="example-ripple-container mat-elevation-z4 text-center"
                                    matRipple
                                    [matRippleCentered]="centered"
                                    [matRippleDisabled]="disabled"
                                    [matRippleUnbounded]="unbounded"
                                    [matRippleRadius]="radius"
                                    [matRippleColor]="color">
                                    Photo Vehicle
                                </div>
                            </div>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>type</mat-label>
                                <input matInput disabled value="{{ dataDrivers[element.no-1]['vehicle_info']['type'] }}">
                            </mat-form-field>                    
                        <table class="example-full-width" cellspacing="0"><tr>
                            <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Brand</mat-label>
                            <input matInput disabled value="{{ dataDrivers[element.no-1]['vehicle_info']['brand'] }}">
                            </mat-form-field></td>
                            <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Plate</mat-label>
                            <input matInput disabled value="{{ dataDrivers[element.no-1]['vehicle_info']['plate'] }}">
                            </mat-form-field></td>
                        </tr></table>
                        
                        <table class="example-full-width" cellspacing="0"><tr>
                            <td><mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Model</mat-label>
                                <input matInput disabled value="{{ dataDrivers[element.no-1]['vehicle_info']['modelo'] }}">
                            </mat-form-field></td>
                            <td><mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Color</mat-label>
                                <input matInput disabled value="{{ dataDrivers[element.no-1]['vehicle_info']['color'] }}">
                            </mat-form-field></td>
                        </tr></table>              
                        
                    </form>                           
                </mat-tab>
                <mat-tab label="Services Info">                               
                    <mat-nav-list>
                        <div *ngIf="historyServices.length == 0">
                            <mat-icon mat-list-icon><span class="material-symbols-outlined">
                                local_shipping
                            </span></mat-icon>
                            <div mat-line>No tiene servicios</div>
                        </div>
                        <a mat-list-item href="..." *ngFor="let link of historyServices; let i = index">
                            <mat-icon mat-list-icon><span class="material-symbols-outlined">
                                local_shipping
                                </span></mat-icon>
                            <div mat-line>{{ link.addresses_info['pickup_address']['address'] }}, {{  link.addresses_info['pickup_address']['city'] }}</div>                                                          
                            <div mat-line>{{ link.addresses_info['delivery_address']['address'] }}, {{  link.addresses_info['delivery_address']['city'] }}</div>
                            <div mat-line>{{ (link.service_details['accepted_date']).toDate().toLocaleDateString() }}</div>
                        </a>
                     </mat-nav-list>                      
                </mat-tab>
            </mat-tab-group>
        </div>   
        
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
    <mat-paginator [length]="infoDrivers.length"
                [pageSize]="10"              
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page of infoDrivers no">
    </mat-paginator>
        </div>
    </div>
</div>





