<div class="flex flex-col flex-auto min-w-0">    
    <div class="flex-auto p-6 sm:p-10">
        <div class="btn-header">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="backClicked()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-raised-button (click)="finalDoc()">Finalizar</button>          
        </div>
         <div class="cards">
            <div class="card" *ngFor="let item of data; let i = index">
                <div class="info">
                    <div class="type">
                        <h1>{{ item.name }}</h1>
                        <p>{{ item.type }}</p>
                        <p *ngIf="item.expiry_date" class="expiracion"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="info"></mat-icon>  {{ item.expiry_date | date }}</p>
                        
                    </div>
                    <div class="images">
                        <img src="{{ item.files[0] }}" (click)="verimagen(item, 1)">
                        <img src="{{ item.files[1] }}" (click)="verimagen(item, 2)">
                    </div>
                </div>
                <div class="des">
                    <button mat-raised-button color="primary">Aprobar</button>
                    <button mat-raised-button color="warn" (click)="rechazar_document(item)">Rechazar</button>
                </div>
            </div>
         </div>
    </div>
</div>
