<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">
                    Reportes
                </div>
                <div class="text-lg font-medium tracking-tight text-secondary">
                   Seleccione un reporte y visualice la información generada
                </div>
            </div>
            <div class="flex items-center ml-6">
                <button class="hidden sm:inline-flex" mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:cog'"
                    ></mat-icon>
                    <span class="ml-2">Settings</span>
                </button>
                <button
                    class="hidden sm:inline-flex ml-3"
                    mat-flat-button
                    [color]="'primary'"
                >
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:save'"
                    ></mat-icon>
                    <span class="ml-2">Export</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon
                            [svgIcon]="'heroicons_outline:dots-vertical'"
                        ></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8"
        >
            <!-- Conversions -->
            <div
                class="sm:col-span-2 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between m-6 mb-0">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Reporte 1
                    </div>
                    <div class="ml-2">
                       
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="conversionMenu"
                        >
                            <span class="font-medium text-sm text-secondary"
                                >30 days</span
                            >
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div
                    class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3"
                >
                    <div
                        class="text-7xl font-bold tracking-tighter leading-tight"
                    ></div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"
                        ></mat-icon>
                        <div
                            class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
                        >
                            <span class="font-medium font-medium text-red-500"></span>
                            <span class="ml-1 text-lg">Generar información de Usuarios</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto h-20">
                    <!-- <apx-chart
                    class="flex-auto w-full h-full"
                    [chart]="chartConversions.chart"
                    [colors]="chartConversions.colors"
                    [series]="chartConversions.series"
                    [stroke]="chartConversions.stroke"
                    [tooltip]="chartConversions.tooltip"
                    [xaxis]="chartConversions.xaxis"
                    [yaxis]="chartConversions.yaxis"></apx-chart> -->

                </div>
            </div>
            <!-- Impressions -->
            <div
                class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between m-6 mb-0">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Reporte 2
                    </div>
                    <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="impressionsMenu"
                        >
                            <span class="font-medium text-sm text-secondary"
                                >30 days</span
                            >
                        </button>
                        <mat-menu #impressionsMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div
                    class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3"
                >
                    <div
                        class="text-7xl font-bold tracking-tighter leading-tight"
                    ></div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"
                        ></mat-icon>
                        <div
                            class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
                        >
                            <span class="font-medium text-red-500">4%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Visits -->
            <div
                class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between m-6 mb-0">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Reporte 3
                    </div>
                    <div class="ml-2">
                        <button
                            class="h-6 min-h-6 px-2 rounded-full bg-hover"
                            mat-button
                            [matMenuTriggerFor]="impressionsMenu"
                        >
                            <span class="font-medium text-sm text-secondary"
                                >30 days</span
                            >
                        </button>
                        <mat-menu #impressionsMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div
                    class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3"
                >
                    <div
                        class="text-7xl font-bold tracking-tighter leading-tight"
                    ></div>
                    <div class="flex lg:flex-col lg:ml-3">
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:trending-down'"
                        ></mat-icon>
                        <div
                            class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary"
                        >
                            <span class="font-medium text-red-500">4%</span>
                            <span class="ml-1">below target</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
