.content-users {
    &__title {
        font-size: 20px;
        font-weight: 600;
    }
    &__botton {
        display: flex;
        justify-content: flex-end;
    }
    &__banner{
        display: flex;
        justify-content: space-between;
    }
}
